OPENAI_API_KEY=
# OPENAI_MODEL=gpt-4o-mini
# EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
# CLIP_MODEL=clip-ViT-B-32
# VECTOR_DB_DIR=vectorstore/chroma
# TOP_K=5
# SEMANTIC_SIMILARITY_THRESHOLD=0.62
